{
    "presets": [
        ["@babel/preset-env",
        {
          "targets": { "node": "current" }
        }]
      ],
      "sourceMaps": "inline",
    "plugins": [
        "@babel/transform-runtime",
        "@babel/plugin-proposal-export-default-from"
    ]
}
